<head>
  <script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script>
  <script type="text/javascript">
  if(!wcs_add) var wcs_add = {};
  wcs_add["wa"] = "46daac33b457f8";
  wcs_do();
  </script>

  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">


  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">

  <title>
    {% if page.title == "Home" %}
      Jaedong & Heejae Wedding Invitation
    {% else %}
      {{ page.title }} &middot; Jaedong & Heejae Wedding Invitation
    {% endif %}
  </title>

  <meta property="og:url" content="https://heejaedongne.github.io">
  <meta property="og:title" content="Jaedong&Heejae Wedding Invitation">
  <meta property="og:type" content="website">
  <meta property="og:description" content="재동이와 희재가 결혼합니다.!">
  <meta property="og:image" content="https://heejaedongne.github.io/assets/Logo/thumbnail.png">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.url }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.url }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.url }}/public/css/hyde.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
